/*****************************
 * GENERAL INFORMATION
 *
 * Project:	Netto
 * Prefix:	netto-
 * Author:	IPI GmbH - Anja Dommel
 * Created:	2015-01-07
 */
/* IMPORT "NON-PARSED" GENERAL SASS LIBRARY */
/* GENERAL COLOR VARIABLES */
/* insert more reusable color variables here */
/* GENERAL VARIABLES */
/* Path to fonts */
/* ToDo: check for correct path when building the solution */
/* Path to images */
/* ToDo: check for correct path when building the solution */
/* insert more general variables here */
/* SASS MIXINS */
/***
    ~ CLEARFIX
    http://nicolasgallagher.com/micro-clearfix-hack/

    Usage:

    .container-with-floated-children 
    {
        @extend %clearfix;
    }
*/
/***
    ~ FONTS
*/
/* @font-face */
/* Open Sans Regular */
/* Open Sans Light */
/* Open Sans Semibold */
/***
    ~ BUTTONS
*/
/* insert more useful sass mixins here */
/* IMPORT PARSED PARTS */
/* IMPORT "NON-PARSED" GENERAL SASS LIBRARY; ONLY NEEDED FOR INTELLISENSE */
/* GENERAL COLOR VARIABLES */
/* insert more reusable color variables here */
/* GENERAL VARIABLES */
/* Path to fonts */
/* ToDo: check for correct path when building the solution */
/* Path to images */
/* ToDo: check for correct path when building the solution */
/* insert more general variables here */
/* SASS MIXINS */
/***
    ~ CLEARFIX
    http://nicolasgallagher.com/micro-clearfix-hack/

    Usage:

    .container-with-floated-children 
    {
        @extend %clearfix;
    }
*/
/***
    ~ FONTS
*/
/* @font-face */
/* Open Sans Regular */
/* Open Sans Light */
/* Open Sans Semibold */
/***
    ~ BUTTONS
*/
/* insert more useful sass mixins here */
/* include all @font-faces */
@font-face {
  font-family: 'open_sansregular';
  src: url('/_layouts/15/Netto.Global/css/fonts/OpenSans-Regular-webfont.eot');
  src: url('/_layouts/15/Netto.Global/css/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/_layouts/15/Netto.Global/css/fonts/OpenSans-Regular-webfont.woff') format('woff'), url('/_layouts/15/Netto.Global/css/fonts/OpenSans-Regular-webfont.ttf') format('truetype'), url('/_layouts/15/Netto.Global/css/fonts/OpenSans-Regular-webfont.svg#OpenSans-Regular-webfont') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanslight';
  src: url('/_layouts/15/Netto.Global/css/fonts/OpenSans-Light-webfont.eot');
  src: url('/_layouts/15/Netto.Global/css/fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/_layouts/15/Netto.Global/css/fonts/OpenSans-Light-webfont.woff') format('woff'), url('/_layouts/15/Netto.Global/css/fonts/OpenSans-Light-webfont.ttf') format('truetype'), url('/_layouts/15/Netto.Global/css/fonts/OpenSans-Light-webfont.svg#OpenSans-Light-webfont') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'open_sanssemibold';
  src: url('/_layouts/15/Netto.Global/css/fonts/OpenSans-Semibold-webfont.eot');
  src: url('/_layouts/15/Netto.Global/css/fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'), url('/_layouts/15/Netto.Global/css/fonts/OpenSans-Semibold-webfont.woff') format('woff'), url('/_layouts/15/Netto.Global/css/fonts/OpenSans-Semibold-webfont.ttf') format('truetype'), url('/_layouts/15/Netto.Global/css/fonts/OpenSans-Semibold-webfont.svg#OpenSans-Semibold-webfont') format('svg');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'netto-icons';
  src: url('/_layouts/15/Netto.Global/css/fonts/netto-icons.eot');
  src: url('/_layouts/15/Netto.Global/css/fonts/netto-icons.eot?#iefix') format('embedded-opentype'), url('/_layouts/15/Netto.Global/css/fonts/netto-icons.woff') format('woff'), url('/_layouts/15/Netto.Global/css/fonts/netto-icons.ttf') format('truetype'), url('/_layouts/15/Netto.Global/css/fonts/netto-icons.svg#netto-icons') format('svg');
  font-weight: normal;
  font-style: normal; }

/* global overwrite Segoe with Open Sans */
body * {
  font-family: 'open_sansregular', sans-serif; }

/***
    ~ ICON FONT

    made with https://icomoon.io/app
*/
[class^="icon-"], [class*=" icon-"] {
  font-family: 'netto-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-Back_To_Top:before {
  content: "\e600";
  font-size: 32px; }

/* IMPORT "NON-PARSED" GENERAL SASS LIBRARY; ONLY NEEDED FOR INTELLISENSE */
/* GENERAL COLOR VARIABLES */
/* insert more reusable color variables here */
/* GENERAL VARIABLES */
/* Path to fonts */
/* ToDo: check for correct path when building the solution */
/* Path to images */
/* ToDo: check for correct path when building the solution */
/* insert more general variables here */
/* SASS MIXINS */
/***
    ~ CLEARFIX
    http://nicolasgallagher.com/micro-clearfix-hack/

    Usage:

    .container-with-floated-children 
    {
        @extend %clearfix;
    }
*/
/***
    ~ FONTS
*/
/* @font-face */
/* Open Sans Regular */
/* Open Sans Light */
/* Open Sans Semibold */
/***
    ~ BUTTONS
*/
/* insert more useful sass mixins here */
/***
    ~ GENERAL LAYOUT
*/
/* extend the width of the current navigation*/
#sideNavBox {
  width: 240px;
  margin-right: 40px; }

#contentBox {
  margin-left: 300px; }

/* adjust the table layout for standard 2-column collaboration page */
body.netto-collaboration #DeltaPlaceHolderMain table[style="padding: 5px 10px 10px 10px;"] {
  padding: 0 !important; }
body.netto-collaboration #DeltaPlaceHolderMain td[width='49.5%'] {
  padding-left: 20px; }
  body.netto-collaboration #DeltaPlaceHolderMain td[width='49.5%']:first-child {
    padding-left: 0;
    padding-right: 20px; }

/***
    ~ HEADER
*/
#s4-titlerow {
  padding-top: 0;
  padding-bottom: 27px; }

/* Suitebar */
.netto-suiteBarWrapper {
  border-bottom: 3px solid #c80211; }

#suiteBar {
  height: 38px; }

#suiteBarLeft, #suiteBarRight {
  background-color: #343233; }

#suiteBarRight {
  padding-right: 100px; }

#Suite_ActiveLinkIndicator_Clip {
  display: none; }

#titleAreaBox {
  padding-top: 10px;
  padding-right: 80px; }

#welcomeMenuBox {
  font-size: 14px;
  height: 38px;
  float: right; }
  #welcomeMenuBox a.ms-core-menu-root {
    color: white;
    vertical-align: middle;
    /* Adds text "Hallo, " right before the user name. */
    /* ToDo: move to resource file */ }
    #welcomeMenuBox a.ms-core-menu-root:before {
      content: 'Hallo, '; }
  #welcomeMenuBox .ms-core-menu-arrow {
    display: none !important; }
  #welcomeMenuBox .ms-welcome-root {
    height: 38px;
    line-height: 38px; }

.ms-welcome-hover, .ms-siteactions-hover {
  background-color: #343233;
  border-right-color: #343233; }

/* links for Newsfeed, Skydrive, Websites */
.ms-core-suiteLinkList {
  padding-top: 5px;
  padding-right: 0; }

.ms-core-suiteLink-a:hover {
  background-color: #343233; }

/* Site Actions */
#suiteBarButtons {
  vertical-align: middle; }

.ms-siteactions-hover .ms-siteactions-imgspan > .ms-core-menu-buttonIcon {
  top: -102px;
  left: -251px; }

.ms-siteactions-imgspan {
  margin-top: -2px; }

/* Logo */
#netto-logo {
  background-image: url('/_layouts/15/images/Netto/netto_logo.png');
  width: 110px;
  height: 54px;
  position: absolute;
  left: 20px;
  top: 15px; }
  #netto-logo .ms-siteicon-a {
    display: block;
    width: 110px;
    height: 54px; }

/* Icon to show the current intranet area: Portal, Profile, Collaboration, Tools */
/* Collaboration*/
body.netto-collaboration #netto-intranetArea {
  background-image: url('/_layouts/15/images/Netto/icon_collaboration.png');
  width: 46px;
  height: 46px;
  position: absolute;
  right: 20px;
  top: 15px; }

/***
    ~ SEARCH BOX
*/
/***
    ~ STICKY FOOTER
*/
body #s4-workspace {
  /* the negative height of the footer */
  margin-bottom: -148px; }

.netto-footerWrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* The bottom margin is the negative value of the footer's height */
  margin: 0 auto -148px;
  overflow: visible !important;
  font-size: 12px; }

.netto-footer, .push {
  /* .push must be the same height as .footer */
  height: 78px;
  clear: both; }

.netto-footer {
  color: #343233;
  font-size: 12px;
  margin-top: 70px; }
  .netto-footer a {
    color: #c80211;
    overflow: hidden; }

.netto-footerInner {
  *zoom: 1;
  background-color: #f8d203;
  /* The line-height is equal to the inner footer's height for vertical central aligned text content */
  line-height: 50px;
  padding: 0 20px; }
  .netto-footerInner:before, .netto-footerInner:after {
    content: " ";
    display: table; }
  .netto-footerInner:after {
    clear: both; }

.netto-footerCopyright {
  float: left; }

/* improve readability by styling copyright symbol with Segoe */
.netto-footerCopyrightSymbol {
  font-family: "Segoe UI", "Segoe", Tahoma, Helvetica, Arial, sans-serif; }

.netto-footerFeedback {
  float: right; }

.netto-ScrollToTop {
  display: block;
  margin: 0 auto 15px auto;
  height: 13px;
  width: 32px; }

/* IMPORT "NON-PARSED" GENERAL SASS LIBRARY; ONLY NEEDED FOR INTELLISENSE */
/* GENERAL COLOR VARIABLES */
/* insert more reusable color variables here */
/* GENERAL VARIABLES */
/* Path to fonts */
/* ToDo: check for correct path when building the solution */
/* Path to images */
/* ToDo: check for correct path when building the solution */
/* insert more general variables here */
/* SASS MIXINS */
/***
    ~ CLEARFIX
    http://nicolasgallagher.com/micro-clearfix-hack/

    Usage:

    .container-with-floated-children 
    {
        @extend %clearfix;
    }
*/
/***
    ~ FONTS
*/
/* @font-face */
/* Open Sans Regular */
/* Open Sans Light */
/* Open Sans Semibold */
/***
    ~ BUTTONS
*/
/* insert more useful sass mixins here */
/***
    ~ TEXT STYLES
*/
/* overwrite bold text with open_sanssemibold */
.ms-bold, strong, b, .ms-atMention, .ms-hashTag, span.ms-cal-navselected a, .ms-acal-headerentity, .ms-toolpanefooter, .ms-TPBody th, .ms-TPBody h1, .ms-TPBody h2, .ms-TPBody h4, .ms-TPBody h5, .ms-TPBody h6, .ms-comm-reputationNumbers, .ms-sectionheader, .ms-gb, .ms-blog-dateText, .ms-blog-boldMonth, .ms-cui-menusection-items32 .ms-cui-ctl-mediumlabel, .ms-cui-menusection-items32rtl .ms-cui-ctl-mediumlabel, .ms-cui-menusection-title, .ms-cui-tooltip h1, .ms-cui-tooltip .ms-cui-tooltip-footer, .ms-warning, .ms-treeview-header, .ms-treenode-bold {
  font-weight: normal;
  font-family: 'open_sanssemibold', sans-serif; }

h2, h3, .ms-h2, .ms-h3, .ms-headerFont {
  font-family: 'open_sansregular', sans-serif;
  color: #343233; }

body .ms-core-pageTitle {
  font-size: 30px;
  margin-top: -9px;
  /* horizontal align with current navigation */
  margin-bottom: 30px; }
  body .ms-core-pageTitle span {
    font-family: 'open_sansregular', sans-serif;
    font-size: 30px;
    color: #343233;
    line-height: normal;
    font-weight: normal;
    letter-spacing: normal;
    font-style: normal;
    font-family: 'open_sanslight', sans-serif; }

/***
    ~ SHADOW RESET
    reset standard SharePoint shadows on elements like flyouts but leave on dialogs
*/
/* welcome box flyout */
.ms-welcome-root > .ms-core-menu-box.ms-core-menu-box, .ms-siteactions-hover > .ms-core-menu-box.ms-core-menu-box, .ms-shadow, .ms-breadcrumb-menu, ul.dynamic, .ms-trcnoti-bg, .ms-trcnoti-bg:hover, .ms-core-menu-box, .ms-core-menu-boxBig, .ms-core-suitemenu, .ms-srch-hover-innerContainer {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #d4d4d4; }

/***
    ~ COLOR RESET
    override standard SharePoint blue on several elements and replace with netto colors
*/
/* text */
.ms-accentText, .ms-accentText:visited, .ms-rtestate-field h1, h1.ms-rteElement-H1, .ms-rtestate-field h2, h2.ms-rteElement-H2, .ms-sectionheader {
  color: #343233; }

/* menus */
.ms-core-menu-item:hover, .ms-core-menu-itemSelected, .ms-core-needIEFilter .ms-core-menu-item:hover, .ms-core-needIEFilter .ms-core-menu-itemSelected, .ms-qSuggest-hListItem {
  background-color: #efefef; }

/* Backend active Features */
.ms-featurestatus {
  background-color: #c80211;
  text-transform: uppercase;
  text-align: center; }

/* tiles */
.ms-tileview-tile-content, .ms-storefront-appiconspan {
  background-color: #343233; }

.ms-vl-apptilehover:hover {
  background-color: #f5f5f5; }

.ms-vl-apptileselected {
  background-color: #efefef; }

.ms-tileview-tile-selected, .ms-tileview-tile-selectionBox, .ms-tileview-tile-selectionBox > *, .ms-tileview-tile-selectionBox:hover > * {
  background-color: #c80211; }

/* backend */
.ms-srch-admin-conditions-active {
  background-color: #f5f5f5; }

.ms-srch-admin-actions-active {
  background-color: #efefef; }

/***
    ~ LINKS
    override standard SharePoint blue links with netto colors
*/
.ms-heroCommandLink, .ms-heroCommandLink:visited, a, a:link, a:visited, a:hover, a:focus, a:active, .ms-link:visited, .ms-vb a.ms-listlink, .ms-picker-footer a, .ms-picker-footer a:link, .ms-picker-footer a:hover, .ms-navedit-editLinksText:hover > span > .ms-metadata, .ms-core-listMenuEdit:hover > tr > .ms-navedit-linkCell > .ms-core-listMenu-item, .ms-secondaryCommandLink, .ms-secondaryCommandLink:hover, .ms-secondaryCommandLink:visited, .ms-welcome-root > a.ms-core-menu-root, .ms-signInLink, .ms-welcome-root > a.ms-core-menu-root:hover, .ms-signInLink:hover, .ms-welcome-root > a.ms-core-menu-root:visited, .ms-signInLink:visited, .ms-welcome-root > a.ms-core-menu-root:active, .ms-signInLink:active, .ms-vb a:visited:hover, .ms-vb2 a:visited:hover, .ms-vb-user a:visited:hover, .ms-vb a:visited, .ms-vb2 a:visited, .ms-vb-user a:visited, .ms-heroCommandLink:hover, .ms-heroCommandLink:active, .ms-calloutLink:active, .ms-commandLink:active, .ms-secondaryCommandLink:active, li.ms-storefront-selected, li.ms-storefront-highlight:hover, .ms-storefront-link a:visited, .ms-pivotControl-surfacedOpt:hover, .ms-pivotControl-surfacedOpt:link:hover, .ms-tv-selected:link, a.ms-listlink, a.ms-listlink:hover, a.ms-listlink:active {
  color: #c80211; }

li.ms-storefront-selected a.ms-storefront-selectanchor, li.ms-storefront-selected a.ms-storefront-selectanchor:link, li.ms-storefront-selected a.ms-storefront-selectanchor:visited {
  color: #c80211; }

li.ms-storefront-highlight:hover a {
  color: #c80211; }

.ms-metadata, .ms-descriptiontext, .ms-secondaryCommandLink {
  font-family: 'open_sansregular', sans-serif; }

.ms-calloutLink:hover, .ms-commandLink:hover, .ms-secondaryCommandLink:hover {
  color: #c80211;
  text-decoration: none; }

.ms-subtleLink:hover, .ms-subtleLink:active, .ms-atMention:hover, .ms-atMention:active, .ms-hashTag:hover, .ms-hashTag:active {
  color: #c80211; }

.ms-sectionheader a, .ms-sectionheader a:hover, .ms-sectionheader a:visited {
  color: #c80211; }

.ms-core-listMenu-horizontalBox .ms-core-listMenu-selected, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:link, .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:visited {
  color: #c80211; }

table.ms-toolbar-togglebutton-on > tbody > tr > td.ms-toolbar > a, table.ms-toolbar-togglebutton-on > tbody > tr > td.ms-toolbar > a:hover {
  color: #c80211; }

.ms-toolbar a, .ms-toolbar a:link, .ms-toolbar a:hover {
  color: #666; }

.DisabledNavigationButton a:hover {
  color: #666 !important; }

.ms-promotedActionButton:active .ms-promotedActionButton-text {
  color: #515151; }

.ms-vl-apptitle, a.ms-vl-apptitle:visited, .ms-vl-apptitle:link {
  color: #444444; }

.ms-vh2-nofilter, .ms-vh2-nofilter-notextalign, .ms-vh2-nofilter-perm, .ms-vh a, .ms-vh2, .ms-vh2 a {
  color: #777777; }

.ms-pivotControl-surfacedOpt, .ms-pivotControl-overflowDot, .ms-pivotControl-surfacedOpt:link, .ms-pivotControl-overflowDot:link {
  color: #666666; }

.ms-webpart-titleText > a:hover, .ms-webpart-titleText > a:active {
  color: #c80211; }

.ms-core-suiteLink-a, .ms-core-suiteLink-a:link, .ms-core-suiteLink-a:visited, a.ms-core-suiteLink-disabled {
  color: #fff; }

.ms-core-pageTitle a {
  color: #343233 !important; }

/***
    ~ BUTTONS
*/
/* Primary Button */
input.ms-button-emphasize, button.ms-button-emphasize {
  font-family: 'open_sansregular', sans-serif;
  font-size: 13px;
  color: #343233;
  line-height: normal;
  font-weight: normal;
  letter-spacing: normal;
  font-style: normal;
  border-color: #f8d203;
  background-color: #f8d203;
  text-transform: uppercase;
  padding: 5px 30px; }
  input.ms-button-emphasize:hover, input.ms-button-emphasize:focus, input.ms-button-emphasize:active, button.ms-button-emphasize:hover, button.ms-button-emphasize:focus, button.ms-button-emphasize:active {
    border-color: #f3ce03;
    background-color: #f3ce03; }

.ms-wpadder button {
  font-family: 'open_sansregular', sans-serif;
  font-size: 13px;
  color: #343233;
  line-height: normal;
  font-weight: normal;
  letter-spacing: normal;
  font-style: normal;
  border-color: #f8d203;
  background-color: #f8d203;
  text-transform: uppercase;
  padding: 5px 30px;
  width: auto !important; }
  .ms-wpadder button:hover, .ms-wpadder button:focus, .ms-wpadder button:active {
    border-color: #f3ce03;
    background-color: #f3ce03; }

/* Secondary Button */
input[type=button], input[type=reset], input[type=submit], button {
  font-family: 'open_sansregular', sans-serif;
  font-size: 13px;
  color: #343233;
  line-height: normal;
  font-weight: normal;
  letter-spacing: normal;
  font-style: normal;
  border-color: #f8d203;
  background-color: #f8d203;
  text-transform: uppercase;
  padding: 5px 30px; }
  input[type=button]:hover, input[type=button]:focus, input[type=button]:active, input[type=reset]:hover, input[type=reset]:focus, input[type=reset]:active, input[type=submit]:hover, input[type=submit]:focus, input[type=submit]:active, button:hover, button:focus, button:active {
    border-color: #f3ce03;
    background-color: #f3ce03; }

.ms-promlink-button {
  padding: 5px; }

input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover, button:hover, .ms-promlink-button-enabled-hover, .ms-promlink-button-enabled:hover, input[type=button]:active, input[type=reset]:active, input[type=submit]:active, button:active, .ms-promlink-button-enabled-pressed, .ms-srch-result #PagingImageLink > a:active {
  border-color: #f3ce03;
  background-color: #f3ce03;
  cursor: pointer; }

/* Small Buttons */
input.ms-navedit-editButton, input[type="button"][disabled].ms-navedit-editButton {
  padding: 2px 20px;
  height: auto;
  margin-bottom: 5px; }

/* Paging Buttons */
.ms-promlink-button-enabled {
  font-family: 'open_sansregular', sans-serif;
  font-size: 13px;
  color: #343233;
  line-height: normal;
  font-weight: normal;
  letter-spacing: normal;
  font-style: normal;
  border-color: #f8d203;
  background-color: #f8d203;
  text-transform: uppercase;
  padding: 5px 30px;
  padding: 5px; }
  .ms-promlink-button-enabled:hover, .ms-promlink-button-enabled:focus, .ms-promlink-button-enabled:active {
    border-color: #f3ce03;
    background-color: #f3ce03; }
  .ms-promlink-button-enabled:hover, .ms-promlink-button-enabled:focus, .ms-promlink-button-enabled:active {
    padding: 5px; }

.ms-promlink-button-enabled-hover, .ms-promlink-button-enabled-pressed {
  padding: 5px; }

/* inputs */
div.ms-rte-border-field.ms-rte-border {
  border-color: #ababab; }

.ms-srch-sb-border:hover, input[type=password]:hover, input[type=text]:hover, input[type=file]:hover, .sp-peoplepicker-topLevel:hover, .ms-inputBox:hover, div.ms-rte-border-field:hover, div.ms-rte-border-field.ms-rte-border:hover, .ms-SPZone:hover, .ms-WPAddButton:hover, textarea:hover, .sp-peoplepicker-topLevel:hover, .ms-inputBox:hover, .ms-microfeed-focusBoxNoFocus:hover:hover {
  border-color: #999999; }

textarea.ms-microfeed-rootOrReplyPostBox, textarea.ms-microfeed-rootOrReplyPostBox:active {
  border: 1px solid transparent;
  /* Reset transparent border to prevent double border */
  outline: 1px solid transparent; }

/* Focus & Active Inputs */
.ms-srch-sb-borderFocused, .ms-inputBoxActive, .ms-inputBox.ms-inputBoxActive:hover, input[type=password]:focus, input[type=text]:focus, select:focus, .sp-peoplepicker-topLevelFocus, .sp-peoplepicker-topLevelFocus:hover, textarea:focus, textarea:active, .sp-peoplepicker-topLevel:active, .ms-inputBox:active, .s4-wzActive, .ms-SPZoneSelected, .ms-SPZone > .s4-wpActive, .ms-rtestate-write > .ms-rte-wpbox > div > .s4-wpActive {
  border-color: #999999; }

.ms-microfeed-focusBoxInFocus {
  border-color: #343233 !important; }

/* Disabled */
input[type="button"][disabled], input[type="reset"][disabled], input[type="submit"][disabled], button[disabled][disabled] {
  font-family: 'open_sansregular', sans-serif;
  font-size: 13px;
  color: #343233;
  line-height: normal;
  font-weight: normal;
  letter-spacing: normal;
  font-style: normal;
  text-transform: uppercase;
  padding: 5px 30px;
  border-color: #e1e1e1;
  background-color: #fdfdfd;
  color: #b1b1b1; }
  input[type="button"][disabled]:hover, input[type="reset"][disabled]:hover, input[type="submit"][disabled]:hover, button[disabled][disabled]:hover {
    cursor: default; }

.ms-promlink-button-disabled-hover {
  cursor: default; }

input[type="password"][disabled]:hover, input[type="text"][disabled]:hover, input[type="file"][disabled]:hover, textarea[disabled]:hover, select[disabled]:hover, .sp-peoplepicker-topLevelDisabled:hover, .ms-inputBoxDisabled:hover, .ms-promlink-button-disabled-hover {
  border-color: #e1e1e1; }

/* calendar */
tr td div.ms-acal-today, .ms-acal-week-top td.ms-acal-hover div, .ms-acal-summary-dayrow td.ms-acal-hover div, .ms-acal-summary-dayrow th.ms-acal-hover {
  border-color: #c80211 !important;
  color: #c80211; }

.ms-acal-vitem, td.ms-acal-vitem {
  background-color: #f5f5f5; }

.ms-picker-monthcenter a, .ms-picker-monthcenter a:active, .ms-picker-monthcenter a:link, .ms-picker-monthcenter a:visited {
  color: #343233; }

.ms-acal-rootdiv a:visited {
  color: #c80211; }

/* month view */
.ms-quickLaunch table.ms-picker-table td.ms-picker-monthselected {
  border-color: #c80211;
  background-color: #c80211; }

.ms-picker-monthselected a, .ms-picker-monthselected a:active, .ms-picker-monthselected a:link, .ms-picker-monthselected a:hover, .ms-picker-monthselected a:visited {
  color: white; }

/* day view */
table.ms-picker-table td.ms-picker-dayother, table.ms-picker-table td.ms-picker-daycenter {
  color: #343233; }

table.ms-picker-table td.ms-picker-daycenter a {
  color: #343233; }

table.ms-picker-table td.ms-picker-daycenterOn {
  background-color: #efefef; }
  table.ms-picker-table td.ms-picker-daycenterOn a, table.ms-picker-table td.ms-picker-daycenterOn a:link, table.ms-picker-table td.ms-picker-daycenterOn a:active, table.ms-picker-table td.ms-picker-daycenterOn a:hover, table.ms-picker-table td.ms-picker-daycenterOn a:visited {
    color: #343233; }

table.ms-picker-table td.ms-picker-today {
  border-color: #c80211; }

table.ms-picker-table td.ms-picker-dayselected {
  background-color: #c80211; }
  table.ms-picker-table td.ms-picker-dayselected a, table.ms-picker-table td.ms-picker-dayselected a:link, table.ms-picker-table td.ms-picker-dayselected a:active, table.ms-picker-table td.ms-picker-dayselected a:hover, table.ms-picker-table td.ms-picker-dayselected a:visited {
    color: white;
    text-decoration: none; }

/* pagination */
a[id*=_nav_prev_a], a[id*=_nav_next_a] {
  width: 16px;
  height: 16px;
  display: block; }

a[id*=_nav_prev_a] {
  background: url('/_layouts/15/images/Netto/icon_calendar_pagination_left.png') center center no-repeat transparent; }
  a[id*=_nav_prev_a] img {
    display: none; }

a[id*=_nav_next_a] {
  background: url('/_layouts/15/images/Netto/icon_calendar_pagination_right.png') center center no-repeat transparent; }
  a[id*=_nav_next_a] img {
    display: none; }

/* Timeline */
.ms-tl-mainArea .ms-tl-today, .ms-tl-mainArea .ms-tl-todayLabel {
  background-color: #c80211 !important;
  border-color: #c80211 !important; }

/* Project Summary */
.ms-psum-heading-task-text {
  font-size: 20px;
  font-weight: normal; }

.ms-psum-heading-text {
  font-size: 20px;
  font-weight: normal;
  color: #999999; }

.ms-psum-countdown {
  border-right-color: #f8d203; }

.ms-psum-outermost-area {
  border-top-color: #f8d203;
  top: -1px; }

.ms-psum-timeline-container .ms-psum-heading-text .ms-listlink {
  font-size: 14px;
  color: #c80211; }

.ms-psum-late {
  color: #c80211; }

/* current calendar */
.ms-acal-item, .ms-acal-apanel-color {
  background-color: #c80211;
  border: #c80211; }

.ms-acal-selected {
  background-color: #c80211; }

/* Colors for other calendars */
.ms-acal-item.ms-acal-color1, .ms-acal-apanel-color1 {
  background-color: #00485B;
  /* Dark Green */
  border: 1px solid #00485B; }

.ms-acal-item.ms-acal-color2, .ms-acal-apanel-color2 {
  background-color: #0072C6;
  /* Blue */
  border: 1px solid #0072C6; }

.ms-acal-item.ms-acal-color3, .ms-acal-apanel-color3 {
  background-color: #288054;
  /* Green */
  border: 1px solid #288054; }

.ms-acal-item.ms-acal-color4, .ms-acal-apanel-color4 {
  background-color: #767956;
  /* Olive */
  border: 1px solid #767956; }

.ms-acal-item.ms-acal-color5, .ms-acal-apanel-color5 {
  background-color: #ED0033;
  /* Red */
  border: 1px solid #ED0033; }

.ms-acal-item.ms-acal-color6, .ms-acal-apanel-color6 {
  background-color: #682A7A;
  /* Magenta */
  border: 1px solid #682A7A; }

.ms-acal-item.ms-acal-color7, .ms-acal-apanel-color7 {
  background-color: #006984;
  /* Turquoise */
  border: 1px solid #006984; }

.ms-acal-item.ms-acal-color8, .ms-acal-apanel-color8 {
  background-color: #13402A;
  /* Dark Turquoise */
  border: 1px solid #13402A; }

/* tables */
/* header */
.ms-headerCellStyleHover, .ms-vh-selectAllIcon:hover {
  background-color: #f5f5f5; }

.ms-splitbuttonhover {
  background-color: rgba(0, 0, 0, 0.06); }

.ms-headerCellStylePressed, .ms-headerCellStyleMenuOpen {
  background-color: #efefef; }

/* body */
.ms-itmHoverEnabled:hover > *, .ms-vb-imgFirstCell:hover, .ms-vb-imgFirstCell:focus {
  background-color: #f5f5f5; }

.s4-itm-selected > .ms-vb-imgFirstCell.ms-vb-imgFirstCell {
  background-color: #c80211;
  border-right-color: #c80211; }

.s4-itm-selected > *, .s4-itm-selected:hover > *, .ms-itmHoverEnabled:hover .ms-list-itemLink-td, .s4-itm-selected .ms-list-itemLink-td, .s4-itm-selected:hover .ms-list-itemLink-td, .ms-core-needIEFilter .s4-itm-selected .ms-list-itemLink-td, .ms-core-needIEFilter .s4-itm-selected:hover .ms-list-itemLink-td {
  background-color: #efefef; }

/* Zebra Effect */
.ms-alternatingstrong .ms-vb a:link, .ms-alternatingstrong .ms-vb2 a:link, .ms-alternatingstrong .ms-vb-user a:link, .ms-alternatingstrong .ms-vb a:visited, .ms-alternatingstrong .ms-vb2 a:visited, .ms-alternatingstrong .ms-vb-user a:visited, .ms-alternatingstrong .ms-vb a:visited:hover, .ms-alternatingstrong .ms-vb2 a:visited:hover, .ms-alternatingstrong .ms-vb-user a:visited:hover {
  color: #f5f5f5; }

.combobox-placeholder > .combobox-img {
  border-color: rgba(0, 0, 0, 0.06); }

.listbox-panel, .combobox-dropdown {
  border-color: #343233; }

.cb-dp-rw:hover {
  background-color: rgba(0, 0, 0, 0.06); }

.cb-dp-rw-selected {
  background-color: #efefef; }

div[style*='border-left-color: rgb(42, 141, 212);'], div[style*='border-right-color: rgb(42, 141, 212);'], div[style*='border-top-color: rgb(42, 141, 212);'], div[style*='border-bottom-color: rgb(42, 141, 212);'] {
  border-color: #c80211 !important; }

th[style*='border-left-color: rgb(42, 141, 212);'], td[style*='border-left-color: rgb(42, 141, 212);'] {
  border-left-color: #c80211 !important; }
th[style*='border-right-color: rgb(42, 141, 212);'], td[style*='border-right-color: rgb(42, 141, 212);'] {
  border-right-color: #c80211 !important; }
th[style*='border-top-color: rgb(42, 141, 212);'], td[style*='border-top-color: rgb(42, 141, 212);'] {
  border-top-color: #c80211 !important; }
th[style*='border-bottom-color: rgb(42, 141, 212);'], td[style*='border-bottom-color: rgb(42, 141, 212);'] {
  border-bottom-color: #c80211 !important; }

div[style*='background-color: rgb(42, 141, 212);'] {
  background-color: #c80211 !important; }

td[style*='background-color: rgb(156, 206, 240);'], th[style*='background-color: rgba(205, 230, 247, 0.498039);'], th[style*='background-color: rgba(205, 230, 247, 0.5);'], td[style*='background-color: rgb(205, 230, 247);'] {
  background-color: #f5f5f5 !important; }

div.jsgrid-widget-dock[style*='border-color: rgb(146, 192, 224);'] {
  border-color: #c80211 !important; }

div.jsgrid-widget-cell[style*='background-color: rgb(230, 242, 250);'] {
  background-color: rgba(0, 0, 0, 0.06) !important; }

div.jsgrid-widget-cell[style*='background-color: rgb(146, 183, 209);'] {
  background-color: #efefef !important; }

/* override inline blue in termstoremanager.css */
.leftarea, .rightarea {
  border-color: #c80211 !important; }

.SearchArea {
  border-bottom-color: #c80211 !important; }

.TermStoreTreeHeader, .tmt-systemgroup {
  border-top-color: #c80211 !important; }

.tmt-tab-selected {
  background-color: #f5f5f5;
  border-top: 1px solid #c80211;
  border-left: 1px solid #c80211;
  border-right: 1px solid #c80211; }

/* Newsfeed */
.ms-microfeed-typeAheadSelectorsDiv, div#HashTagSuggestionsContainer {
  border-color: #c80211 !important; }

.ms-microfeed-typeAheadElementSelected, div#HashTagSuggestionsContainer .ms-taxonomy-suggestion-holder .ms-taxonomy-suggestion-group .ms-taxonomy-highlighted {
  background-color: rgba(0, 0, 0, 0.06) !important; }

/* Blog */
.ms-blog-postBoxDate {
  background-color: #c80211;
  border-color: #c80211; }

/* Dialogs */
.ms-dialog #pageTitle {
  margin-top: 0; }
.ms-dialog #contentBox {
  margin-left: 0; }

.ms-dlg-heading, h2.ms-dlg-heading {
  font-family: 'open_sansregular', sans-serif;
  font-size: 20px;
  color: #343233;
  line-height: normal;
  font-weight: normal;
  letter-spacing: normal;
  font-style: normal; }

.ms-trcnoti-bg:hover {
  background-color: rgba(0, 0, 0, 0.06) !important;
  border-color: #999999 !important; }

/* Status Bar */
.ms-status-yellow a:link, .ms-status-yellow a:visited {
  color: #c80211 !important; }

/* Suvery */
body .ms-surveyHBar {
  background-color: #c80211;
  border-color: #c80211; }

/* Tasks */
/* Gantt View */
.jsgrid-gantt-vert-today {
  border-color: #c80211 !important; }

/* Timeline */
.ms-tl-today, .ms-tl-calloutBracketTop, .ms-tl-calloutBracketTop-resize:hover, .ms-tl-calloutBracketTop-resize.ms-tl-selected:hover, .ms-tl-calloutBracketBottom, .ms-tl-calloutBracketBottom-resize:hover, .ms-tl-calloutBracketBottom-resize.ms-tl-selected:hover {
  border-color: #c80211 !important; }

.ms-tl-calloutLine {
  background-color: #c80211 !important; }

body .ms-tl-selectedFocused {
  border-color: #444444 !important; }

/* Inline Search Box */
.ms-inlineSearch-searchImgSpanHoverHighlight, .ms-inlineSearch-imgHoverHighlight {
  border-color: #efefef;
  background-color: #efefef;
  cursor: pointer; }

.ms-InlineSearch-Outline-Focused, .ms-InlineSearch-Outline-Filled {
  border-color: #999999; }

.ms-srch-sb-searchLink:hover, .ms-srch-sb-navLink:hover {
  background-color: #efefef; }

.ms-srch-sb-searchLink:active, .ms-srch-sb-searchLink > img:active, .ms-srch-sb-navLink:active, .ms-srch-sb-navLink > img:active, .ms-srch-sb-navLink-menuOpen, .ms-srch-sb-navLink-menuOpen:hover {
  background-color: #d4d4d4;
  border-color: #d4d4d4; }

/* Search Results Page */
/* Refinement Container */
.ms-ref-filterSel > div, .ms-ref-refiner #Value > a:hover > div, .ms-ref-refiner #Value > a:active > div {
  color: #c80211; }

.ms-ref-ctrl .ms-ref-selSec .ms-ref-filterSel {
  color: #c80211; }

/* Balkendiagramm und Slider */
.ajax__multi_slider_default .inner_rail_horizontal, .slider_tick_active, .ajax__multi_slider_default .handle_noforcepressed:hover, .ajax__multi_slider_default .handle_noforcepressed:hover, .ajax__multi_slider_default .handle_noforcepressed:active, .ajax__multi_slider_default .handle_noforcepressed:active, .ajax__multi_slider_default .handle_forcepressed {
  background-color: #c80211;
  border-color: #c80211; }

.histogram_bar_active {
  border-top: 2px solid #c80211; }

.histogram_bar_active:hover, .histogram_bar_inactive:hover {
  background-color: #999999;
  border-color: #999999;
  border-top-color: #c80211; }

.ms-srch-item-path {
  color: #999999; }

/* Hover results */
.ms-srch-item:hover, .ms-srch-resultHover:hover, .edisc-SearchResultItemContainer:hover {
  background-color: #efefef !important; }

/* Paging */
.ms-srch-result #PagingSelf a, .ms-srch-result #Paging a:hover {
  color: #c80211; }

/* Footer Links */
.ms-srch-resultFooter a:hover {
  color: #c80211; }

/***
    ~ IMAGE RESET
    override standard SharePoint blue icons with icons in netto colors
*/
/* add an app */
#appadd {
  background: url('/_layouts/15/images/Netto/icon_add_an_app.png') center center no-repeat transparent; }
  #appadd img {
    display: none; }

/* plus */
/* Navigation */
.ms-list-addnew-imgSpan16 {
  background: url('/_layouts/15/images/Netto/icon_plus.png') top left no-repeat transparent; }
  .ms-list-addnew-imgSpan16 img {
    display: none; }

/* Bibliothek */
.ms-list-addnew-imgSpan20 {
  background: url('/_layouts/15/images/Netto/icon_plus_20.png') top left no-repeat transparent; }
  .ms-list-addnew-imgSpan20 img {
    display: none; }

/* edit */
/* Navigation */
.ms-navedit-editLinksText:hover > span > .ms-navedit-editLinksIconWrapper > .ms-navedit-editLinksIcon {
  display: none; }

.ms-navedit-editLinksText:hover .ms-navedit-editLinksIconWrapper {
  background: url('/_layouts/15/images/Netto/icon_edit_pencil.png') 2px 2px no-repeat transparent; }

/* MySite */
.ms-editProfile-editIconLink {
  background: url('/_layouts/15/images/Netto/icon_edit_20.png') center center no-repeat transparent; }
  .ms-editProfile-editIconLink img {
    display: none; }

/* sharepoint */
.ms-vl-siteicon {
  background: url('/_layouts/15/images/Netto/icon_sharepoint_16.png') top left no-repeat transparent;
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 3px;
  padding-right: 5px; }
  .ms-vl-siteicon img {
    display: none; }

/* edit navigation */
/* Show Link */
/* Hover, Active */
.ms-navedit-deletelink:hover > .ms-navedit-hidespan > .ms-navedit-showLinkIcon, .ms-navedit-deletelink:active > .ms-navedit-hidespan > .ms-navedit-showLinkIcon {
  width: 0;
  height: 0;
  padding: 8px;
  position: static;
  background: url('/_layouts/15/images/Netto/show_link_16.png') top left no-repeat transparent; }

/* Hide Link */
/* Hover, Active */
.ms-navedit-deletelink:hover > .ms-navedit-hidespan > .ms-navedit-hideLinkIcon, .ms-navedit-deletelink:active > .ms-navedit-hidespan > .ms-navedit-hideLinkIcon {
  width: 0;
  height: 0;
  padding: 8px;
  position: static;
  background: url('/_layouts/15/images/Netto/hide_link_16.png') top left no-repeat transparent; }

/* Delete Link */
/* Hover, Active */
.ms-navedit-deletelink:hover > .ms-navedit-deletespan > .ms-cancelImg, .ms-navedit-deletelink:active > .ms-navedit-deletespan > .ms-cancelImg {
  width: 0;
  height: 0;
  padding: 10px;
  position: static;
  background: url('/_layouts/15/images/Netto/delete_link_20.png') top left no-repeat transparent; }

/* following */
.ms-microfeed-contentThumbnailArea img.ms-microfeed-iconImage[src*="/_layouts/15/images/NowFollowing"] {
  width: 0;
  height: 0;
  padding: 6px 5px 5px 6px;
  background: url('/_layouts/15/images/Netto/icon_now_following.png') top left no-repeat transparent; }

/* announcement */
.ms-microfeed-contentThumbnailArea img.ms-microfeed-iconImage[src*="/_layouts/15/images/Announcements"] {
  width: 0;
  height: 0;
  padding: 6px 5px 5px 6px;
  background: url('/_layouts/15/images/Netto/icon_announcements.png') top left no-repeat transparent; }

/* follow tag */
.ms-hashTagProfile-followTagLink .ms-hashTagProfile-followTag-img {
  display: none; }

.ms-hashTagProfile-followTagLink > span {
  background: url('/_layouts/15/images/Netto/icon_favorite_20.png') center center no-repeat transparent; }

/* follow person */
.ms-profile-followHeroImageParent {
  background: url('/_layouts/15/images/Netto/icon_favorite_20.png') center center no-repeat transparent; }
  .ms-profile-followHeroImageParent img {
    display: none; }

/* follow site dialog */
/* max width and height: 32px */
.ms-trcnoti-status .ms-trcnoti-gfx img {
  width: 0;
  height: 0;
  padding: 10px 8px 8px 8px;
  background: url('/_layouts/15/images/Netto/icon_sharepoint_16.png') bottom center no-repeat transparent; }

/* Current Nav Treeview */
.ms-core-listMenu-horizontalBox a.ms-core-listMenu-item:hover, .ms-core-listMenu-horizontalBox a.ms-core-listMenu-item.ms-core-listMenu-selected:hover, a.ms-tv-item:hover, a.ms-tv-header:hover {
  color: #c80211; }

.ms-core-listMenu-horizontalBox a.ms-core-listMenu-item:active, a.ms-tv-item:active:active, a.ms-tv-header:active {
  color: #c80211; }

/***
    ~ TOOLTIPS
*/
.ms-cui-tooltip-body {
  background-color: #efefef;
  border: 1px solid #efefef; }

/***
    ~ WEBAPPS
*/
.ms-newdoc-callout-item:hover {
  background-color: #efefef; }

/***
    ~ FORMS
*/
/* insert further misc styles here */
/* IMPORT "NON-PARSED" GENERAL SASS LIBRARY; ONLY NEEDED FOR INTELLISENSE */
/* GENERAL COLOR VARIABLES */
/* insert more reusable color variables here */
/* GENERAL VARIABLES */
/* Path to fonts */
/* ToDo: check for correct path when building the solution */
/* Path to images */
/* ToDo: check for correct path when building the solution */
/* insert more general variables here */
/* SASS MIXINS */
/***
    ~ CLEARFIX
    http://nicolasgallagher.com/micro-clearfix-hack/

    Usage:

    .container-with-floated-children 
    {
        @extend %clearfix;
    }
*/
/***
    ~ FONTS
*/
/* @font-face */
/* Open Sans Regular */
/* Open Sans Light */
/* Open Sans Semibold */
/***
    ~ BUTTONS
*/
/* insert more useful sass mixins here */
/***
    ~ RIBBONS
*/
.ms-cui-ctl-large:hover, .ms-cui-ctl-medium:hover, .ms-cui-ctl-large:focus, .ms-cui-ctl-medium:focus, .ms-cui-ctl:hover, .ms-cui-ctl:focus, .ms-cui-dd-arrow-button:hover, .ms-cui-dd-arrow-button:focus {
  border-color: #999999; }

.ms-cui-ctl-light-hoveredOver, .ms-cui-ctl-menu:hover, .ms-cui-ctl-menu:focus, .ms-cui-dd-arrow-button:hover, .ms-cui-dd-arrow-button:focus, .ms-cui-cb-input:hover, .ms-cui-cb-input:focus, .ms-cui-spn-btnup:hover, .ms-cui-spn-btnup:focus, .ms-cui-spn-btndown:hover, .ms-cui-spn-btndown:focus, .ms-cui-ctl-hoveredOver, .ms-cui-ctl-large-groupPopup:hover {
  background-color: rgba(0, 0, 0, 0.06); }

.ms-cui-ctl-large:active, .ms-cui-ctl-medium:active, .ms-cui-ctl-light-hoveredOver:active, .ms-cui-ctl:active, .ms-cui-ctl-menu:active, .ms-cui-dd-arrow-button:active, .ms-cui-cb-input:active, .ms-cui-spn-btnup:active, .ms-cui-spn-btndown:active {
  border-color: #999999;
  background-color: rgba(0, 0, 0, 0.06); }

.ms-cui-ctl-on {
  border-color: #c80211;
  background-color: rgba(0, 0, 0, 0.06) !important; }

/* WebPart Ribbons */
.ms-wpadder-categories DIV.ms-wpadder-selected, .ms-wpadder-items DIV.ms-wpadder-selected {
  border: 1px solid #999999;
  background: rgba(0, 0, 0, 0.06) none;
  color: #000; }

.ms-wpadder-categories DIV.ms-wpadder-hover, .ms-wpadder-items DIV.ms-wpadder-hover {
  border: 1px solid #999999; }

/***
    ~ META NAVIGATION
*/
/* insert styles for meta navigation here */
/***
    ~ MAIN NAVIGATION
*/
#DeltaTopNavigation .ms-core-listMenu-horizontalBox {
  vertical-align: top;
  margin-left: 140px; }
  #DeltaTopNavigation .ms-core-listMenu-horizontalBox a {
    color: #343233;
    font-size: 13px;
    text-transform: uppercase; }
    #DeltaTopNavigation .ms-core-listMenu-horizontalBox a:hover, #DeltaTopNavigation .ms-core-listMenu-horizontalBox a:focus {
      color: #c80211; }
  #DeltaTopNavigation .ms-core-listMenu-horizontalBox .dynamic-children.additional-background {
    padding-right: 0;
    background-image: none; }
  #DeltaTopNavigation .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected, #DeltaTopNavigation .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:link, #DeltaTopNavigation .ms-core-listMenu-horizontalBox .ms-core-listMenu-selected:visited {
    color: #c80211; }

/* Flyout */
#DeltaTopNavigation .ms-core-listMenu-horizontalBox ul.dynamic a {
  text-transform: none; }

/***
    ~ CURRENT NAVIGATION
*/
#sideNavBox {
  background-color: #efefef; }

#DeltaPlaceHolderLeftNavBar {
  padding: 20px; }
  #DeltaPlaceHolderLeftNavBar .ms-core-listMenu-verticalBox a:hover, #DeltaPlaceHolderLeftNavBar .ms-core-listMenu-verticalBox a:focus, #DeltaPlaceHolderLeftNavBar .ms-core-listMenu-verticalBox a:active {
    color: #c80211; }
  #DeltaPlaceHolderLeftNavBar .ms-core-listMenu-verticalBox:first-child {
    margin-top: -9px; }
  #DeltaPlaceHolderLeftNavBar .ms-core-listMenu-verticalBox li.static {
    border-top: 1px solid white; }
    #DeltaPlaceHolderLeftNavBar .ms-core-listMenu-verticalBox li.static:first-child {
      border-top: 0; }
    #DeltaPlaceHolderLeftNavBar .ms-core-listMenu-verticalBox li.static li.static {
      border-top: 0; }

.ms-core-sideNavBox-removeLeftMargin, .ms-core-listMenu-verticalBox li.static > .ms-core-listMenuEdit, .ms-core-listMenu-verticalBox li.static > .ms-navedit-titleBoxListItem {
  margin-left: 0; }

.ms-core-listMenu-verticalBox > .ms-core-listMenu-item, .ms-core-listMenu-verticalBox li.static > .ms-core-listMenu-item {
  padding: 5px 20px 5px 0; }

#DeltaPlaceHolderLeftNavBar .ms-core-listMenu-verticalBox li.ms-listMenu-editLink {
  margin-left: 0;
  border-top: none; }

/* first level */
/* anthrazit font in font-size 13px per default */
.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-item, .ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenuEdit, .ms-core-listMenu-heading, .ms-tv-header {
  font-size: 13px;
  color: #343233; }

/* red font when hover or current item */
.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > a.ms-core-listMenu-item:hover, .ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > a.ms-core-listMenu-item:active {
  background-color: #efefef;
  color: #c80211; }

.ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-selected:link, .ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-selected:visited, .ms-core-listMenu-verticalBox > .ms-core-listMenu-root > li > .ms-core-listMenu-selected, li > a.ms-core-listMenu-item.ms-core-listMenu-selected:hover {
  background-color: #efefef;
  color: #c80211; }

/* second level */
/* anthrazit font in font-size 12px per default */
.ms-core-listMenu-item, .ms-core-listMenu-item:link, .ms-core-listMenu-item:visited, .ms-tv-item:link, .ms-tv-item:visited, .ms-tv-header:link, .ms-tv-header:visited {
  color: #343233; }

.ms-core-listMenu-verticalBox li.static > ul.static > li.static > .ms-core-listMenu-item {
  padding-left: 20px; }

/* red font when hover or current item */
li > a.ms-core-listMenu-item.ms-core-listMenu-selected:hover, li > a.ms-core-listMenu-item:hover, li > a.ms-core-listMenu-item:active {
  background-color: #efefef;
  color: #c80211; }

.ms-core-listMenu-selected:link, .ms-core-listMenu-selected:visited, .ms-core-listMenu-selected {
  background-color: #efefef;
  color: #c80211; }

/* edit menu items */
.ms-navedit-appendarea {
  padding-left: 0;
  border-top: 0 !important; }
  .ms-navedit-appendarea div.ms-navedit-hiddenAppendArea {
    border-top: 0;
    color: #999999; }

li.ms-storefront-divider {
  display: none; }

/* structural view */
#sideNavBox .ms-tv-box {
  margin-left: 0; }

/* active metadata filtering on lists and libraries */
#sideNavBox.ms-navresizeractive-sideNavBox {
  margin-right: 20px; }
  #sideNavBox.ms-navresizeractive-sideNavBox .ms-KFMenu.ms-navresizeractive-keyfilters {
    margin-left: -20px; }
  #sideNavBox.ms-navresizeractive-sideNavBox .ms-navresizer-horizontal {
    display: none; }

/* IMPORT "NON-PARSED" GENERAL SASS LIBRARY; ONLY NEEDED FOR INTELLISENSE */
/* GENERAL VARIABLES */
/* Path to fonts */
/* ToDo: check for correct path when building the solution */
/* Path to images */
/* ToDo: check for correct path when building the solution */
/* insert more general variables here */
/* GENERAL COLOR VARIABLES */
/* insert more reusable color variables here */
/* SASS MIXINS */
/***
    ~ CLEARFIX
    http://nicolasgallagher.com/micro-clearfix-hack/

    Usage:

    .container-with-floated-children 
    {
        @extend %clearfix;
    }
*/
/***
    ~ FONTS
*/
/* @font-face */
/* Open Sans Regular */
/* Open Sans Light */
/* Open Sans Semibold */
/***
    ~ BUTTONS
*/
/* insert more useful sass mixins here */
/***
    ~ PAGELAYOUT HOMEPAGE
*/
/* insert styles for pagelayouts here */
/* IMPORT "NON-PARSED" GENERAL SASS LIBRARY; ONLY NEEDED FOR INTELLISENSE */
/* GENERAL VARIABLES */
/* Path to fonts */
/* ToDo: check for correct path when building the solution */
/* Path to images */
/* ToDo: check for correct path when building the solution */
/* insert more general variables here */
/* GENERAL COLOR VARIABLES */
/* insert more reusable color variables here */
/* SASS MIXINS */
/***
    ~ CLEARFIX
    http://nicolasgallagher.com/micro-clearfix-hack/

    Usage:

    .container-with-floated-children 
    {
        @extend %clearfix;
    }
*/
/***
    ~ FONTS
*/
/* @font-face */
/* Open Sans Regular */
/* Open Sans Light */
/* Open Sans Semibold */
/***
    ~ BUTTONS
*/
/* insert more useful sass mixins here */
/***
    ~ WEBPARTS
*/
.ms-webpartzone-cell {
  margin-bottom: 70px; }

/* titles with yellow line for collaboration webparts */
.ms-webpart-titleText, .ms-webpart-titleText.ms-webpart-titleText, .ms-webpart-titleText > a {
  text-transform: uppercase;
  font-family: 'open_sansregular', sans-serif;
  color: #343233;
  font-size: 20px; }
  .ms-webpart-titleText:hover, .ms-webpart-titleText:active, .ms-webpart-titleText.ms-webpart-titleText:hover, .ms-webpart-titleText.ms-webpart-titleText:active, .ms-webpart-titleText > a:hover, .ms-webpart-titleText > a:active {
    color: #343233;
    text-decoration: none; }

.ms-webpart-titleText, .ms-webpart-titleText.ms-webpart-titleText {
  border-bottom: 1px solid #f8d203;
  padding-bottom: 13px; }

.ms-webpart-chrome-title {
  margin-bottom: 8px; }

/* titles without yellow line*/
#appsTable .ms-webpart-titleText.ms-webpart-titleText, #appsTable.ms-webpart-titleText, #appsTable .ms-webpart-titleText > a, .ms-storefront-mngsubtitle .ms-webpart-titleText.ms-webpart-titleText, .ms-storefront-mngsubtitle.ms-webpart-titleText, .ms-storefront-mngsubtitle .ms-webpart-titleText > a {
  border-bottom: none;
  padding-bottom: 0; }

/* insert more styles for webparts here */
/*# sourceMappingURL=Netto.Global.css.map */